doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover")
        title DEMO中文測試
        link(href="css/index.css" rel="stylesheet" type="text/css")
        script(type='text/javascript')
    body
        include inc/a.pug
